obj
bin
*.vbproj.user
*.suo
*.cache
*~
*.swp
/IntelligentMediaPlayer.psess
/IntelligentMediaPlayer/Resources/~VC9A87.tmp
/IntelligentMediaPlayer100211(1).vsp
/IntelligentMediaPlayer100211.vsp
/Thumbs.db
/IntelligentMediaPlayer1.psess
/IntelligentMediaPlayer100214(1).vsp
/IntelligentMediaPlayer100214(2).vsp
/IntelligentMediaPlayer100214(3).vsp
/IntelligentMediaPlayer100214(4).vsp
/IntelligentMediaPlayer100214.vsp
/IntelligentMediaPlayer100215.vsp
/IntelligentMediaPlayer2.psess
/IntelligentMediaPlayer3.psess
/IntelligentMediaPlayer4.psess
/IntelligentMediaPlayer/Resources/Thumbs.db